body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;}
header {
   display: inline;}
main {
    padding: 20px;
    overflow: auto;}
h2 {
   color:black;} 
h3 {
   color: black;}
h4 {
   color: black;
   font-weight: bold;}
p {
   text-align: justify;
   padding : 10px;}
.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;}
 .foto {
   width: 24%;
   max-height: 125px;
   object-fit:cover;
   object-position:center; }
 .logo{
    display: block;
   width: 10%;
   max-height: 110px;
   margin-left: auto;
   margin-right: auto;}
 .foto:hover {
   border:2px solid #aaa;}
 .profile img {
    width: 240px; 
    object-fit: cover;
    object-position: center;}
 .profile image {
   width: 200px; 
   object-fit: cover;
   object-position: center;}
 .profile header {
    text-align: center;
 }
 footer {
    padding: 20px;
    color: black;
    background-color: #00dbeb;
    text-align: center;
    font-weight: bold;}
 .card {
    padding: 0;
    margin-top: 0;}
 .card2 {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;}
 .jumbotron a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;}
 nav a:hover {
    font-weight: bold;}
 .jumbotron {
    font-size: 20px;
    padding: 40px;
    background-color: #00dbeb;
    text-align: center;
    color: white;}
 nav li {
    display:inline;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;}
 nav {
   background-color: #00dbeb98;
   padding: 5px;
   position: sticky;
   top: 0;}
nav a{
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: black;   
}
 #content {
   float: left;
   width: 75%;}
aside {
   float: right;
   width: 24%;
   margin-top: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   background-color: #00dbeb;}
th {
   text-align: left;
   padding: 5px;}
td {
   text-align:left;
   padding: 5px;}
@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }}